* {
  box-sizing: border-box;
}

h1 {
  text-align: center;
  text-transform: uppercase;
}

.subtitle {
  text-align: center;
  color: #3C3C3C;
  margin-top: 0;
}

.filter-cities {
  height: 70px;
  padding: 10px;
}

.filter-cities input {
  width: 100%;
  height: 40px;
  font-size: 16px;
}

.city-summary {
  height: 50px;
  border-top: solid 1px #d3d3d3;
}

city-summary:last-child .city-summary {
  border-bottom: solid 1px #d3d3d3;
}

.city-summary h3, .city-summary > div {
  line-height: 50px;
  margin: 0;
}

.city-summary img {
  width: 30px;
  height: 30px;
}